.window {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.window #images {
  position: relative;
  display: flex;
}
.window #images{
  transition: all .5s;
  transform: translateX(-400px);
}
#btnWrapper {
  display: flex;
  justify-content: center;
}
#btnWrapper span{
  border: 1px solid rgba(220,223,230,.8);
  border-radius: 6px;
  padding: 0 4px;
  margin: 10px 5px;
}