.window {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.window #images {
  position: relative;
}
.window #images img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .6s;
}
.wait {
  transform: translateX(100%);
}
.leave {
  transform: translateX(-100%);
  z-index: 1;
}
.current {
  transform: translateX(0);
  z-index: 1;
}